bash/.node-tools/node_modules/
emacs/.spacemacs.d/.spacemacs.env
i3/.config/i3/config
mutt/.mutt/account
mutt/.mutt/cache/
mutt/.mutt/lists
vim/.config/
vim/.local/
vim/.vim/.netrwhist
vim/.vim/spell/
