# filename matching and completion in a case-insensitive fashion
set completion-ignore-case on

# do not use any bell
set bell-style none

# completed names which are symbolic links to directories have a slash appended
set mark-symlinked-directories on

# words which have more than one possible completion cause the matches to be listed immediately instead of ringing the bell
set show-all-if-ambiguous on

# alters the default completion behavior when inserting a single match into the line
set skip-completed-text on

# undo all changes to history lines before returning when accept-line is executed
set revert-all-at-newline on

# causes Readline to not match files whose names begin with a '.' (hidden files) when performing filename completion
set match-hidden-files off

# delete key in st
set enable-keypad on
